body {
	font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
	background: #fff;
}

div.bar{
	float: left;
	position: relative;
	width: 5px;
	margin-left: 1px solid #fff;
	margin-right: 1px solid #fff;
	background: #4b8bea;
}

img{
	width: 10px;
}
.histogram{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
div#catchphrase{
	margin-top: 110px;
	margin-left: 10%;
	font-size: 3em;
	font-weight: 300;
	font-style: normal;
	font-color: #000;
}
.stats{
	font-size: 1.2em;
}